.photos-list{
	height: 100%;	
	background-color: #000;
	.img-wrapper{		
		
		.img{
			background-color: #fefefe;
		}
	}
	.footer{
		width: 100%;
		height: 98rpx;		
		position: fixed;
		bottom: 0;

		.btn{
			width: 100%;	
			border:none;
			border-radius: 0px;	
			font-size: 32rpx;
			line-height:98rpx;
			text-align: center;
			justify-content:center;
			align-items:center;			
			.icon{
				width: 38rpx;
				height: 38rpx;
				margin-right: 12rpx;
			}			
			&.confirm{
				color:#fff;
				background-color: #ffc430;
			}
			&.disabled{
				color:#fff;
				background-color: #ccc;
			} 
			
		}
	}
}