/**index.wxss**/
.index-page{
    .dn{
        display:none
    }
    padding: 200px;
    .ui-avatar-icon image, .ui-avatar-icon span {
 
        width: 120rpx;
        height: 120rpx;
        background-size: cover;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }


    .ui-avatar-icon-60 {
        width: 1.2rpx;
        height: 1.2rpx;
    }
    .ui-avatar-icon {
        // overflow: hidden;
    }

    padding: 30rpx 36rpx;
    .p1th{
        padding-top: 10rpx;
        .item{
            display: -webkit-box;
            display: box;
            -webkit-box-pack: justify;
            box-pack: justify;
            border-radius: 24rpx;
            padding: 40rpx  30rpx  55rpx  30rpx;
            // box-shadow: 0 0 12px #cdcdcd;
            // box-shadow: 0 0.02rem 0.25rem rgba(0, 0, 0, 0.22);
            box-shadow:0px 0px 10px 3px rgba(127, 127, 127, 0.1);

            margin-bottom: 40rpx;
 
            .lbox{
                position: relative;
                .icon-com{
                    width: 54rpx;
                    height: 54rpx;
                    background-size: cover;
                    display: block;
                    position: absolute;
                    top:-20rpx;
                    left: 0;
                }
                .icon-boy{
                    background-image: url(http://mojikids.yueus.com/static/wap/image/bb/list/boy-mark-54x54.png);
                
                }
                .icon-girl{
                    background-image: url(http://mojikids.yueus.com/static/wap/image/bb/list/girl-mark-54x54.png);
                }
                .ui-avatar-icon{
                    margin-left: 40rpx;

                }
            }

            
            .cbox{


                -webkit-box-orient: block-axis;
                text-align: center;
                .box1{
                    font-size: 34rpx;
                    padding-top: 10rpx;
                }
                .box2{
                    padding-top: 20rpx;
                    font-size: 28rpx;
                }
            }
            .rbox{
                padding-top: 36rpx;

                .ui-button{
                    line-height: 40rpx;
                    display: inline-block;
                    border-radius: 60rpx;
                    color: #fff;
                    background-color: #ffc430;
                    
                    .ui-button-content {
                        padding: 0 20rpx;
                        font-size: 24rpx;
                    
                    }
                }

                
            }
        }

        .btn{

            padding: 10rpx 20rpx 0 20rpx;

            .ui-button{
                line-height: 90rpx;
                display: inline-block;
                border-radius: 60rpx;
                color: #ffc430;
                border: 0.01rem solid #fac430;
                width: 100%;
                display: block;
                text-align: center;
                .ui-button-content {
                    
                }
            }
        }

        
    }

   
   .no-data{
        text-align: center;
        font-size: 30rpx;
        color: #333;
        padding-top: 90rpx;

        image{
            margin: 0 auto;
            width: 90rpx;
            height: 130rpx;
            margin: 0 auto;
        }
        .txt{
            padding-top: 30rpx; 
            padding-bottom: 100rpx;

        }
   }
    
}
