/**index.wxss**/
.pagemain{
  .top_side{
    overflow: hidden;
    .location{
      height:56rpx;
      position: relative;
      .inner{
        padding-top: 26rpx;
        width: 228rpx;
        height: 162rpx;
        position: relative;
        top:-40rpx;
        background: #fff;
        border-radius: 50%;
        z-index: 100;
        .text{
          font-size: 26rpx;
          color: #ff5669;
        }
      }
    }
  }
  .list_side{
    background: #fff;
    position: relative;
    top: 0px;
    z-index: 200;
    .cards{
      margin: 0px 30rpx;
      border-radius: 10rpx;
      box-shadow: 0px 0px 3px 3px rgba(170, 170, 170, 0.1);
      margin-bottom: 40rpx;
      .img-con{
        margin: 20rpx 20rpx 0px 20rpx;
      }
      .cards_bot{
        position: relative;
        padding: 19rpx 0px;
        .des{
          font-size: 36rpx;
          height: 60rpx;
          line-height: 60rpx;
        }
        .price{
          font-size: 32rpx;
          color: #ffc430;
          height:60rpx;
          line-height: 60rpx;
        }
      }

    }
  }
  .more_text{
    height: 60rpx;
    margin-bottom: 40rpx;
    color: #ffdc99;
    font-size: 32rpx;
  }
}
.jump_fade{
  &.now{
    transform : scale(1,1);
    background-color:rgba(0,0,0,0.6);
  }
  transition:background-color 0.4s,transform 0.2s;
  transform : scale(0,0);
  background-color:rgba(0,0,0,0);
  position:fixed;
  top:0px;
}